<ion-tabs  >

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home" style="background-color: rgb(241, 241, 7);">
      <ion-icon style="color: black;" name="home"></ion-icon>
    
    </ion-tab-button>

    <ion-tab-button tab="bookings" style="background-color: rgb(241, 241, 7);">
      <ion-badge color="danger">{{ bookingArray.length }}</ion-badge>
      <ion-icon style="color: black;" name="restaurant"></ion-icon>
    
    </ion-tab-button>

    <ion-tab-button   tab="Login"  style="background-color: rgb(241, 241, 7);">
     <ion-icon style="color: black;" name="person"></ion-icon>
     
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
